@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #fce4b4;
    display: flex;
    justify-content: center;
    font-family: 'Abhaya Libre', serif;
}

.master {
    width: 100%;
}

.master .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.master .breadcrumb-container {
    width: 100%;
    padding: 0 40px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.master .breadcrumb-container .breadcrumb-lista {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;
}

.master .breadcrumb-container .breadcrumb-lista li {
    display: flex;
    align-items: center;
}

.master .breadcrumb-container .breadcrumb-lista li a, .breadcrumb-lista li p {
    font-size: 1.1rem;
    color: #2e1a14;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.master .breadcrumb-container .breadcrumb-lista li a {
    color: #007680;
    font-weight: 700;
}

.master .breadcrumb-container .breadcrumb-lista li .separador {
    color: #e07a5f;
    font-weight: bold;
}

.master .breadcrumb-container .breadcrumb-lista li .atual {
    font-weight: 400;
    color: #2e1a14;
}

.master .topo .logo img {
    height: 120px;
}

.master .topo .menu {
    background-color: #007680;
    display: flex;
    padding: 4px 10px;
    border-radius: 50px;
    gap: 30px;
    align-items: center;
}

.master .topo .menu a {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
}

.master .topo .menu a:first-child {
    background-color: #e07a5f;
    border-radius: 50px;
}

.master .topo .pesquisar {
    background-color: #e07a5f;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}

.master .bolo-cenoura {
    position: relative;
    width: 85%;
    max-width: 900px;
    margin: 20px auto 40px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.master .bolo-cenoura img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.master .bolo-cenoura .texto-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(224, 122, 95, 0.9);
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.master .bolo-cenoura .texto-img p {
    font-size: 1.6rem;
    color: #2e1a14;
    font-weight: 700;
}

.master .bolo-cenoura .ver-receita {
    background-color: #007680;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.master .bolo-cenoura .ver-receita a {
    color: white;
    text-decoration: none;
}

.master .secoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
    padding: 0px 40px;
}

.master .secoes>div,
.master div.menu>div {
    text-align: center;
    background-color: #e9ad91;
    border-radius: 15px;
    overflow: hidden;
}

.master .secoes img,
.master div.menu img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
}

.master .secoes .texto-img p,
.master div.menu .texto-img p {
    padding: 12px;
    color: #2e1a14;
    font-size: 1.25rem;
    font-weight: 700;
}

.master div.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 40px;
}

.master div.menu .titulo-menu {
    grid-column: 1 / -1;
    background-color: #007680;
    color: white;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.master div.menu .titulo-menu p {
    font-size: 2.2rem;
}

.master .rodape {
    background-color: #007680;
    width: 100%;
    margin-top: 60px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.master .rodape .icone img {
    height: 120px;
}

.master .rodape .menu-rodape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
}

.master .rodape .menu-rodape a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.master .rodape .aviso-email p {
    font-size: 1.4rem;
    margin-bottom: 10px;
    cursor: default;
}

.master .rodape .aviso-email p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.master .rodape .aviso-email .email p:first-child {
    background-color: #e07a5f;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    display: block;
    cursor: text;
}